Serie3/Serie3_Solution/Client/Service References/ServiceReference1/CentralService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CentralService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_ICentralService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/CentralService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/CentralService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/CentralService/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICentralService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICentralService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralService_UnRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegister" />
  </wsdl:message>
  <wsdl:message name="ICentralService_UnRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralService_GetSupportedLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedLanguages" />
  </wsdl:message>
  <wsdl:message name="ICentralService_GetSupportedLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedLanguagesResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralService_GetSupportedThemes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedThemes" />
  </wsdl:message>
  <wsdl:message name="ICentralService_GetSupportedThemes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSupportedThemesResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralService_SubmitMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitMessage" />
  </wsdl:message>
  <wsdl:message name="ICentralService_SubmitMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ICentralService_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:portType name="ICentralService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralService/Register" message="tns:ICentralService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralService/RegisterResponse" message="tns:ICentralService_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralService/UnRegister" message="tns:ICentralService_UnRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralService/UnRegisterResponse" message="tns:ICentralService_UnRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralService/GetSupportedLanguages" message="tns:ICentralService_GetSupportedLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralService/GetSupportedLanguagesResponse" message="tns:ICentralService_GetSupportedLanguages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSupportedThemes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralService/GetSupportedThemes" message="tns:ICentralService_GetSupportedThemes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralService/GetSupportedThemesResponse" message="tns:ICentralService_GetSupportedThemes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ICentralService/SubmitMessage" message="tns:ICentralService_SubmitMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralService/SubmitMessageResponse" message="tns:ICentralService_SubmitMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/ICentralService/Receive" message="tns:ICentralService_Receive_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_ICentralService" type="tns:ICentralService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_ICentralService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/ICentralService/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegister">
      <soap12:operation soapAction="http://tempuri.org/ICentralService/UnRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedLanguages">
      <soap12:operation soapAction="http://tempuri.org/ICentralService/GetSupportedLanguages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSupportedThemes">
      <soap12:operation soapAction="http://tempuri.org/ICentralService/GetSupportedThemes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitMessage">
      <soap12:operation soapAction="http://tempuri.org/ICentralService/SubmitMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/ICentralService/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CentralService">
    <wsdl:port name="WSDualHttpBinding_ICentralService" binding="tns:WSDualHttpBinding_ICentralService">
      <soap12:address location="http://localhost:8080/CentralService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8080/CentralService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>