Recursos/Exemplos/SoapHeaders/ClientWSLogin/Web References/deetc.sd/WSLogin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://deetc.isel.ipl.pt/SD/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://deetc.isel.ipl.pt/SD/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Exemplo SoapHeaders</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://deetc.isel.ipl.pt/SD/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoapHdLogin" type="tns:SoapHdLogin" />
      <s:complexType name="SoapHdLogin">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TokenKey" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ts" type="tns:TimeStamp" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="TimeStamp">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="dtIn" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="dtOut" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="SoapHdMoreInfo" type="tns:SoapHdMoreInfo" />
      <s:complexType name="SoapHdMoreInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="info" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="OtherMeth">
        <s:complexType />
      </s:element>
      <s:element name="OtherMethResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OtherMethResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OtherHeader" type="tns:OtherHeader" />
      <s:complexType name="OtherHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="tabstr" type="tns:ArrayOfString" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapHdLogin">
    <wsdl:part name="SoapHdLogin" element="tns:SoapHdLogin" />
  </wsdl:message>
  <wsdl:message name="LoginSoapHdMoreInfo">
    <wsdl:part name="SoapHdMoreInfo" element="tns:SoapHdMoreInfo" />
  </wsdl:message>
  <wsdl:message name="OtherMethSoapIn">
    <wsdl:part name="parameters" element="tns:OtherMeth" />
  </wsdl:message>
  <wsdl:message name="OtherMethSoapOut">
    <wsdl:part name="parameters" element="tns:OtherMethResponse" />
  </wsdl:message>
  <wsdl:message name="OtherMethOtherHeader">
    <wsdl:part name="OtherHeader" element="tns:OtherHeader" />
  </wsdl:message>
  <wsdl:portType name="WSLoginSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OtherMeth">
      <wsdl:input message="tns:OtherMethSoapIn" />
      <wsdl:output message="tns:OtherMethSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSLoginSoap" type="tns:WSLoginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://deetc.isel.ipl.pt/SD/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoginSoapHdLogin" part="SoapHdLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:LoginSoapHdLogin" part="SoapHdLogin" use="literal" />
        <soap:header message="tns:LoginSoapHdMoreInfo" part="SoapHdMoreInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtherMeth">
      <soap:operation soapAction="http://deetc.isel.ipl.pt/SD/OtherMeth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:OtherMethOtherHeader" part="OtherHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSLoginSoap12" type="tns:WSLoginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://deetc.isel.ipl.pt/SD/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginSoapHdLogin" part="SoapHdLogin" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginSoapHdLogin" part="SoapHdLogin" use="literal" />
        <soap12:header message="tns:LoginSoapHdMoreInfo" part="SoapHdMoreInfo" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OtherMeth">
      <soap12:operation soapAction="http://deetc.isel.ipl.pt/SD/OtherMeth" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:OtherMethOtherHeader" part="OtherHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSLogin">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Exemplo SoapHeaders</wsdl:documentation>
    <wsdl:port name="WSLoginSoap" binding="tns:WSLoginSoap">
      <soap:address location="http://localhost:49620/Login/WSLogin.asmx" />
    </wsdl:port>
    <wsdl:port name="WSLoginSoap12" binding="tns:WSLoginSoap12">
      <soap12:address location="http://localhost:49620/Login/WSLogin.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>