Recursos/Exemplos/WCFOlaMundo/ClienteWithProxy/Web References/Aula/ServiceOla.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceOla" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/ServiceOla?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/ServiceOla?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/ServiceOla?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contratos" />
      <xsd:import schemaLocation="http://localhost:8080/ServiceOla?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceOla_olaSimples_InputMessage">
    <wsdl:part name="parameters" element="tns:olaSimples" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_olaSimples_OutputMessage">
    <wsdl:part name="parameters" element="tns:olaSimplesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_olaPessoa_InputMessage">
    <wsdl:part name="parameters" element="tns:olaPessoa" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_olaPessoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:olaPessoaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_getPessoa_InputMessage">
    <wsdl:part name="parameters" element="tns:getPessoa" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_getPessoa_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPessoaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_changeState_InputMessage">
    <wsdl:part name="parameters" element="tns:changeState" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_changeState_OutputMessage">
    <wsdl:part name="parameters" element="tns:changeStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_getState_InputMessage">
    <wsdl:part name="parameters" element="tns:getState" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_getState_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStateResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_teste_InputMessage">
    <wsdl:part name="parameters" element="tns:teste" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_teste_OutputMessage">
    <wsdl:part name="parameters" element="tns:testeResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_getDataMTOM_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataMTOM" />
  </wsdl:message>
  <wsdl:message name="IServiceOla_getDataMTOM_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataMTOMResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceOla">
    <wsdl:operation name="olaSimples">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/olaSimples" message="tns:IServiceOla_olaSimples_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/olaSimplesResponse" message="tns:IServiceOla_olaSimples_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="olaPessoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/olaPessoa" message="tns:IServiceOla_olaPessoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/olaPessoaResponse" message="tns:IServiceOla_olaPessoa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPessoa">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/getPessoa" message="tns:IServiceOla_getPessoa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/getPessoaResponse" message="tns:IServiceOla_getPessoa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="changeState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/changeState" message="tns:IServiceOla_changeState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/changeStateResponse" message="tns:IServiceOla_changeState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getState">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/getState" message="tns:IServiceOla_getState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/getStateResponse" message="tns:IServiceOla_getState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="teste">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/teste" message="tns:IServiceOla_teste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/testeResponse" message="tns:IServiceOla_teste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataMTOM">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceOla/getDataMTOM" message="tns:IServiceOla_getDataMTOM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceOla/getDataMTOMResponse" message="tns:IServiceOla_getDataMTOM_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceOla" type="tns:IServiceOla">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="olaSimples">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/olaSimples" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="olaPessoa">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/olaPessoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPessoa">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/getPessoa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changeState">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/changeState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getState">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/getState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="teste">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/teste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataMTOM">
      <soap:operation soapAction="http://tempuri.org/IServiceOla/getDataMTOM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOla">
    <wsdl:port name="BasicHttpBinding_IServiceOla" binding="tns:BasicHttpBinding_IServiceOla">
      <soap:address location="http://localhost:8080/ServiceOla" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>