Recursos/Exemplos/DuplexBinding/ConsClient/Service References/SD/DuplexService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DuplexService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_IDuplexService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8732/HostDuplexService/DuplexService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8732/HostDuplexService/DuplexService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDuplexService_init_InputMessage">
    <wsdl:part name="parameters" element="tns:init" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_init_OutputMessage">
    <wsdl:part name="parameters" element="tns:initResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_exit_InputMessage">
    <wsdl:part name="parameters" element="tns:exit" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_exit_OutputMessage">
    <wsdl:part name="parameters" element="tns:exitResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_SendMsg_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMsg" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_SendMsg_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMsgResponse" />
  </wsdl:message>
  <wsdl:message name="IDuplexService_newAnnounce_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:newAnnounce" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IDuplexService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="init">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexService/init" message="tns:IDuplexService_init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexService/initResponse" message="tns:IDuplexService_init_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="true" name="exit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexService/exit" message="tns:IDuplexService_exit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexService/exitResponse" message="tns:IDuplexService_exit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMsg">
      <wsdl:input wsaw:Action="http://tempuri.org/IDuplexService/SendMsg" message="tns:IDuplexService_SendMsg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexService/SendMsgResponse" message="tns:IDuplexService_SendMsg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="newAnnounce">
      <wsdl:output wsaw:Action="http://tempuri.org/IDuplexService/newAnnounce" message="tns:IDuplexService_newAnnounce_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSDualHttpBinding_IDuplexService" type="tns:IDuplexService">
    <wsp:PolicyReference URI="#WSDualHttpBinding_IDuplexService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="init">
      <soap12:operation soapAction="http://tempuri.org/IDuplexService/init" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exit">
      <soap12:operation soapAction="http://tempuri.org/IDuplexService/exit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMsg">
      <soap12:operation soapAction="http://tempuri.org/IDuplexService/SendMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newAnnounce">
      <soap12:operation soapAction="http://tempuri.org/IDuplexService/newAnnounce" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DuplexService">
    <wsdl:port name="WSDualHttpBinding_IDuplexService" binding="tns:WSDualHttpBinding_IDuplexService">
      <soap12:address location="http://localhost:8732/HostDuplexService/DuplexService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/HostDuplexService/DuplexService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>